body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
}

.pokemons-list {
  border-right: 1px solid;
}

.pokemons-list,
.pokedex {
  padding: 0 50px 20px;
  border-bottom: 1px solid;
  flex-grow: 1;
}

.form-wrapper {
  margin-top: 20px;
  text-align: center;
}
